@page "/Activities"
@inject IActivityRepository _activityRepository
@inject AuthenticationStateProvider _AuthenticationStateProvider
@using OutdoorsActivityWebApp.Components.Pages.Reused

<h3>ViewActivities</h3>

@if (isProcessing)
{
    <div class="position-absolute w-100 h-100 d-flex flex-column align-items-center
                bg-white justify-content-center">
        <p>loading</p>
    </div>
}
else
{
    <div class="card shadow border-0 m-4">
        <div class="card-header bg-black bg-gradient m-lg-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Activity List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div>
                    <a class="btn btn-secondary btn-lg" style="width:250px" href="/CreateActivity"><i class="bi bi-plus-circle"></i> Add New Activity</a>
                </div>
                @if (userState.User.IsInRole(SD.Role_Instructor))
                {
                    <div>
                        Only Show Your Activities: <input type="checkbox" @onchange="HandleToggle" checked="@ShowInstructorSpecific" />
                    </div>
                }
                <div>
                    <select @onchange="HandleFilterType">
                        <option value="All">All</option>
                        @foreach(var type in Enum.GetNames(typeof(SD.ActivityType)))
                        {
                            // Iterate the activity types - add the option to the select
                            <option value="@type">@type.ToReadableString()</option>
                        } 
                    </select>
                </div>
            </div>
            @if (ActivityList.Any())
            {
                @foreach (var activity in ActivityList)
                {
                    <div class="row">
                        <ActivityCard Activity="@activity"></ActivityCard>
                    </div>
                }
            }
        </div>
    </div>
}

@code {
    private bool isProcessing { get; set; } = true;
    private IEnumerable<Activity> ActivityList { get; set; } = new List<Activity>();
    public bool ShowInstructorSpecific { get; set; } = false;
    private AuthenticationState userState;
    public string filterType { get; set; } = "All";

    protected override async Task OnInitializedAsync()
    {
        // get user state
        userState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (!userState.User.Identity.IsAuthenticated)
        {
            ShowInstructorSpecific = false;
        }
        return;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadActivities();
            isProcessing = false;
            StateHasChanged();
        }
    }
    private async Task LoadActivities()
    {
        ActivityList = await _activityRepository.GetAllAsync();
        FilterType(filterType);
    }

    private async Task LoadInstructorSpecificActivities()
    {
        var user = userState.User;
        var id = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        ActivityList = await _activityRepository.GetAllFromInstructorAsync(id);
    }

    private async Task handleDelete(int activityId)
    {
        await _activityRepository.DeleteAsync(activityId);
    }

    private async Task ShowAllToggle()
    {
        if (ShowInstructorSpecific)
        {
            await LoadInstructorSpecificActivities();
            await FilterType(filterType);
            return;
        }
        else
        {
            await LoadActivities();
            return;
        }
    }

    private async Task HandleToggle(ChangeEventArgs e)
    {
        ShowInstructorSpecific = (bool)e.Value;
        await ShowAllToggle();
    }

    private async Task FilterType(string filter)
    {
        if (filter != "All")
        {
            ActivityList = ActivityList.Where(u => u.Type.ToString() == filter);
        }
    }

    private async Task HandleFilterType(ChangeEventArgs e)
    {
        // Filter for activities which type is that of the 
        filterType = e.Value.ToString();
        await ShowAllToggle();
        FilterType(filterType);
        return;
    }
}
