@inject IActivityReviewRepository _arr
@inject IActivityRepository _ar
@inject AuthenticationStateProvider _AuthenticationStateProvider
<div class="card mb-2 p-0">
    <div class="card-header">
        <label for="title">Title</label>
        <InputText @bind-Value="review.Title" id="title"></InputText>
        <h2>@review.Title</h2>
        Anonymous Review: <input type="checkbox" @bind-value="review.Anon" />
    </div>
    <div class="card-body">
        <div class="row">
            <label for="body">Body</label>
            <InputText @bind-Value="review.Body" id="body"></InputText>
        </div>
        <div class="row">
            <label for="rating">Rating</label>
            <InputNumber @bind-Value="review.Rating" id="rating"></InputNumber>
        </div>
        <div class="row">
            <button class="btn btn-sm btn-light col-2" @onclick="() => ButtonEventHandler(SD.ButtonAction.Submit)">Submit</button>
            <button class="btn btn-sm btn-primary col-2" @onclick="() => ButtonEventHandler(SD.ButtonAction.Cancel)">Cancel</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Activity activity { get; set; } = new Activity();
    public ActivityReview review { get; set; } = new ActivityReview();

    [Parameter]
    public EventCallback CloseReviewEditor { get; set; }
    [Parameter]
    public EventCallback UpdateAverageScore { get; set; }

    private async Task ButtonEventHandler(SD.ButtonAction action)
    {
        switch (action)
        {
            case SD.ButtonAction.Submit:
                SubmitReview();
                break;
            case SD.ButtonAction.Cancel:
                await CloseReviewEditor.InvokeAsync();
                break;
            default:
                break;
        }
    }

    private async Task SubmitReview()
    {
        review.ActivityId = activity.Id;
        var userState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        review.CustomerId = userState.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
        
        await _arr.CreateAsync(review);
        await _ar.UpdateAsync(activity);
        await UpdateAverageScore.InvokeAsync();

    }
}
